
<ul class="navbar-nav flex-grow-1">
    <li>
        <a class="nav-link text-dark" asp-action="ProjectIdeas" asp-controller="Projects">Project Ideas</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-action="CompletedProjects" asp-controller="Projects">Completed Projects</a>
    </li>

    <li>
        <a class="nav-link text-dark" asp-action="InProgress" asp-controller="Projects">In Progress Projects</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-action="ProjectIdeas" asp-controller="Projects">Project Ideas</a>
    </li>

</ul>
