@*

*@
@{
    ViewData["Title"] = "Completed Projects";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<p> This is where I will talk about my completed projects. So far, my only completed projects have to do with my schoolwork. all of which can be found on <a target="_blank" href="https://github.com/zachschool1">My School Github</a></p>
<br />

<h3>JavaScript Final Project</h3>
<p>For my final project in the JavaScript course, I chose the option to make a calculator. The project came with some files, and it had all of the HTML and things like that already put in, so all I had to do was manipulate the DOM and do the logic.</p>
<p>For the main logic portion, I chose to use a switch statement to determine which button was clicked, and had simple logic for 1-9 to append that character to an array of characters that i used for the display, and when the switch statement detected an operator character, it would save that array to another array of the previous number, track which operator was pressed, and then start appending any new numbers to a newly blank array of characters, so that I could do operations with it.</p>
<p>There was a lot more involved to do things like prevent leading 0s, stopping multiple operators, and stuff like that. If i wanted to continue that, I would modify the logic so that I could do like most calculators do, where when you press 1+1, you can press + again and it calculates 1+1 as 2, then does 2+ whatever next number, and essentially do unlimited operations.</p>
<br />
<h3>CSS Final Projects</h3>
<p>My CSS Finals were pretty simple. I didn't have a lot of time at the time to actually complete that, being that it was the holiday times. I kind of phoned it in, not going to lie.</p>
<p>When i was doing the project, I was mostly focuing on CSS grid, so that I could learn how to have web sites formated different ways.</p>
<br />
<h3>Intro C# Final</h3>
<p>My final project for the intro to C# class was something that I just did very simply and quickly. The requirements had us keep track of many different fields. For my assignment I went with a friendship application. It took a lot of information, names, favorite color, tv shows, and much more. The only logic I added to it was essentially if they are a certain level of desperate for a friend, they are automatically denied. However, if they are moderately desperate, they are only accepted if their favorite color is green. Otherwise, as long as they aren't desperate then they are allowed to be my friend.</p>
@await Html.PartialAsync("_Navigation")