@* *@
@{

    ViewData["Title"] = "Work in Progress";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>This is where I will talk about my projects that I have been working on. I really only have one project that I have been working on, but it is not something that I have focused on much since January.</p>
<h3> Exercise Tracker </h3>
<p>I started this project after the end of the previous semester, since I wanted to put some JavaScript to the test.</p>
<p>I've really only put a lot of effort in to one page, the actual page where you can inputs. Essentially, It has a field to choose what exercise you're doing, and how many reps you did. From there, it can keep track of the exercise you're currently working on, and once you've done your entire workout, you can submit that. currently, it just writes to a log.txt. I wanted to get it working with a sqlite3 database but I haven't gotten around to setting that up. </p>

@await Html.PartialAsync("_Navigation")