@*

*@
@{
    ViewData["Title"] = "Project Ideas";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<p> This is basically a small thing to keep track of some ideas I have, and what I hope to learn from those ideas.</p>

<h3>Calorie Tracker</h3>
<p>I wanted to add this to be part of my exercise thing. I want to essentially have it to where I can keep track of exercises I do, and also keep track of meals I am eating or something to that effect. I have actually done something in the past using the Nutrionix API to get a lot of nutrient data, but I have not been able to recover that file, since it was on my laptop before I knew how GitHub really worked.</p>
<p>I want to learn how to use APIs so that I can get that type of data, learn about caching data or popular foods that I would use often, or that are used commonly, and then create recipes, have all of their nutrients, and use that to say "Hey, I ate two of those burritos I made, that's 300 calories each and X, Y, Z nutrients. With your exercise, you burned X calories, So you can still eat Y amount of calories to still be in defecit" or something to that effect </p>
@await Html.PartialAsync("_Navigation")