@*

*@
@{
    ViewData["Title"] = "Project Ideas";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<h2>@ViewData["Title"]</h2>
<p> This is going to be where I put my projects I've completed, but I haven't completed much.</p>
